/* ------------------- NAV ------------------ */
nav {
    width: 100%;
    height: 65px;
    background: linear-gradient(to bottom right, purple, orange);
    background-attachment: fixed;
    background-size:cover;
    transition-duration: 2s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    height: 70px;
    display: flex;
}

nav ul li span {
    font-size: 2em;
    display: none;
}

nav ul li a {
    text-decoration: none;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap;
    transition-duration: 1s;
    color: khaki;
}

nav ul li a:hover {
    background-color: rgb(248, 177, 25);
    color: #fff;
}

.hidden {
    display: none;
}


@media all and (max-width:920px) {
    nav {
        transition-duration: 2s;
    }

    nav ul li a {
        font-size: 20px;
        transition-duration: 2s;

    }
}

@media all and (max-width:720px) {

    nav {
        width: 100px;
        height: 100px;
        background: linear-gradient(purple, orange);
        transition-duration: 2s;
        opacity: 0.5;
    }

    nav:hover {
        height: 100vh;
        background: linear-gradient(purple, orange);
        transition-duration: 0.5s;
        opacity: 1;
    }

    nav:hover ul {
        display: block;
    }

    nav ul {
        margin-top: 150px;
        display: none;
        flex-direction: column;
    }

    nav:hover span {
        display: block;
        padding-left: 35px;
        width: 100%;
        height: 70px;
    }

    nav:hover .hidden {
        color: rgb(9, 255, 0);
        font-size: 60px;
        margin: 25px 25px 30px;
        transition-duration: 2s;

    }

    nav ul li {
        width: 100%;
        transition-duration: 4s;
    }

    nav ul li:hover {
        width: 300px;
        background-color: lemonchiffon;
        transition-duration: 0.5s;
    }

    nav ul li:hover span {
        display: none;
    }

    nav ul li:hover a {
        display: block;
        color: black;
    }

    nav ul li span {
        padding: 18px;

    }

    nav ul li a {
        display: none;
        padding-top: 18px;
        font-size: 30px;
        width: 100%;
        color: black;
    }

    .hidden {
        display: block;
        margin: 30px 30px;
        font-size: 40px;
        margin-bottom: 70px;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 1;
        transition-duration: 3s;

    }
}