/*---------------- style.css ------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-outer-container {
   
}


/* --------------- main-main ----------------- */
#main-main {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #757f9a, #d7dde8);
    background-attachment: fixed;
    padding: 20px 10px;
}


/* --------------- main-footer ----------------- */
#main-footer {
    min-height: 200px;
    background-color:moccasin;
}




@media screen and (max-width: 720px) {}
   

@media screen and (max-width: 480px) {}

@media screen and (max-width: 360px) {}

@media screen and (max-width: 330px) {}