/*---------------- style.css ------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-outer-container {
    min-width: 300px;
    /* border: solid; */
}


/* --------------- main-main ----------------- */
#main-main {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #757f9a, #d7dde8);
    background-attachment: fixed;
    padding: 100px 10px;
}




@media screen and (max-width: 720px) {}


@media screen and (max-width: 480px) {}

@media screen and (max-width: 360px) {}

@media screen and (max-width: 330px) {}