@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #aaa;
    color: #222;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

#outer-container {
    background-color: purple;
    transform-origin: left top;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
}
#outer-container.rotate {
    transform: rotate(-20deg);
}


// ------ CIRCLE CONTAINER ---------
#circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

#circle {
    background-color: orange;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
}

#outer-container.rotate #circle-container {
    transform: rotate(-70deg);
    transition: transform 0.5s linear;
}

#circle button {
    cursor: pointer;
    position: absolute;
    border: none;
    background-color: transparent;
    font-size: 2em;
    &:hover {
        color:wheat;
    }
}

.open {
    top: 120px;
    right: 40px;
}

.close {
    bottom: 40px;
    right: 120px;
}


// ------  content ---------
#content {
    padding:100px 50px 50px;
    max-width: 1100px;
    margin: auto;
}
#content h1 {
    color: white;
    margin: 20px 0;
}
#content small {
    display: inline-block;
    color: wheat;
    margin: 10px 0;
    font-style: italic;
}
#content p {
    color: white;
    line-height: 1.5;
    font-size: 1em;
}
#content h3 {
    margin: 20px auto 5px;
}
#content img {
    width: 100%;
    margin-bottom: 20px;
}



// ------  NAV ---------
nav {
    position: fixed;
    top: 60vh;
    left: -250px;
    transition: 0.5s linear;

    // z-index: 100;

    ul {
        list-style: none;
        padding-left: 30px;

        li {
            font-size: 1.5em;
            margin-bottom: 10px;
            color: black;
            font-weight: bold;
            cursor: pointer;
            transition: transform 1s linear;
            i {
                color: wheat;
                margin-right: 15px;
            }
            &:hover,
            &:hover i {
                color: plum;
            }
           
        }
    }
}

#outer-container.rotate + nav {
    left: 0;
}

#outer-container.rotate + nav ul li:nth-of-type(2) {
    transform: translateX(25px);
}

#outer-container.rotate + nav ul li:nth-of-type(3) {
    transform: translateX(50px);
}